<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.paopao.zuchebackend.mapper.RoughlyCarMapper">

    <resultMap type="cn.paopao.zuchebackend.entity.RoughlyCar" id="RoughlyCarMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="picUrl" column="pic_url" jdbcType="VARCHAR"/>
        <result property="price" column="price" jdbcType="NUMERIC"/>
        <result property="colorSet" column="color_set" jdbcType="VARCHAR"/>
        <result property="cateId" column="cate_id" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="lastUpdateTime" column="last_update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="RoughlyCarMap">
        select
          id, name, pic_url, price, color_set, cate_id, create_time, last_update_time
        from roughly_car
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="RoughlyCarMap">
        select
          id, name, pic_url, price, color_set, cate_id, create_time, last_update_time
        from roughly_car
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="picUrl != null and picUrl != ''">
                and pic_url = #{picUrl}
            </if>
            <if test="price != null">
                and price = #{price}
            </if>
            <if test="colorSet != null and colorSet != ''">
                and color_set = #{colorSet}
            </if>
            <if test="cateId != null">
                and cate_id = #{cateId}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="lastUpdateTime != null">
                and last_update_time = #{lastUpdateTime}
            </if>
        </where>
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from roughly_car
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="picUrl != null and picUrl != ''">
                and pic_url = #{picUrl}
            </if>
            <if test="price != null">
                and price = #{price}
            </if>
            <if test="colorSet != null and colorSet != ''">
                and color_set = #{colorSet}
            </if>
            <if test="cateId != null">
                and cate_id = #{cateId}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="lastUpdateTime != null">
                and last_update_time = #{lastUpdateTime}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into roughly_car(name, pic_url, price, color_set, cate_id, create_time, last_update_time)
        values (#{name}, #{picUrl}, #{price}, #{colorSet}, #{cateId}, #{createTime}, #{lastUpdateTime})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into roughly_car(name, pic_url, price, color_set, cate_id, create_time, last_update_time)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.name}, #{entity.picUrl}, #{entity.price}, #{entity.colorSet}, #{entity.cateId}, #{entity.createTime}, #{entity.lastUpdateTime})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into roughly_car(name, pic_url, price, color_set, cate_id, create_time, last_update_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.name}, #{entity.picUrl}, #{entity.price}, #{entity.colorSet}, #{entity.cateId}, #{entity.createTime}, #{entity.lastUpdateTime})
        </foreach>
        on duplicate key update
        name = values(name),
        pic_url = values(pic_url),
        price = values(price),
        color_set = values(color_set),
        cate_id = values(cate_id),
        create_time = values(create_time),
        last_update_time = values(last_update_time)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update roughly_car
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="picUrl != null and picUrl != ''">
                pic_url = #{picUrl},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="colorSet != null and colorSet != ''">
                color_set = #{colorSet},
            </if>
            <if test="cateId != null">
                cate_id = #{cateId},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="lastUpdateTime != null">
                last_update_time = #{lastUpdateTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from roughly_car where id = #{id}
    </delete>

</mapper>

